@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* Dark blue background */
  --background-end-rgb: 30, 41, 59;   /* Slightly lighter dark blue */
  --primary-color: 59, 130, 246;      /* Blue accent color */
  --secondary-color: 147, 197, 253;   /* Light blue */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}